body { line-height: 1.4; overflow-wrap: anywhere; }
pre, code { font-family: monospace; white-space: pre-wrap; overflow-wrap: anywhere; }
table { width: 100%; }
img { max-width: 100%; height: auto; }
